nes/v2.0/nes_17_generated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ndap="http://www.mswia.gov.pl/standardy/ndap" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.mswia.gov.pl/standardy/ndap" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd" />
  <xs:element name="dokument" nillable="true" type="ndap:dokument-typ">
    <xs:annotation>
      <xs:documentation>Element główny metadanych opisujący dokument.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="dokument-typ">
    <xs:annotation>
      <xs:documentation>Element główny metadanych opisujący dokument.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="odbiorca" type="ndap:odbiorca-typ">
        <xs:annotation>
          <xs:documentation>Podmioty, do których dokument jest adresowany.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="data" type="ndap:data-dokumentu-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane o dacie dokumentu. 
Umożliwia wyszukiwanie i sortowanie dokumentów lub ich grupy według czasu zdarzeń z nimi związanych, jak również wyszukiwanie / filtrowanie wg rodzajów zdarzeń.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="dostep" type="ndap:dostep-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający status dostępności dokumentu. 
Określenie zasad i warunków regulujących dostęp do dokumentów. 
Informacja o dostępności nie może naruszać przepisów regulujących dostęp do danych (np. do danych osobowych, informacji niejawnych itd.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="format" type="ndap:format-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający informacje o formacie dokumentu. 
Pozwala na wskazanie formatu i rozmiaru dokumentu. Umożliwi w przyszłości wyszukiwanie dokumentów wg ich rozmiaru lub formatu. 
Pozwoli na odróżnienie dokumentów elektronicznych od nieelektronicznych celem sprawdzenia czy dany zasób informacyjny zawiera odniesienia do dokumentów zapisanych na nośnikach fizycznych(papier, taśmy audio i wideo ale także przenośne informatyczne nośniki danych na których zapisano e - dokumentację znajdującą się poza zbiorem dostępnym bezpośrednio).Będzie można również wyszukać dokumentację wymagającą przeniesienia na inne nośniki co ułatwi konserwację zasobu. 
W przypadku dokumentów elektronicznych powoli także na zarządzanie dokumentacją zapisaną w przestarzałych technologicznie formatach w przypadku gdy system operacyjny nie będzie umiał rozpoznać formatu (informacja o formacie będzie wskazówką naprowadzającą co to jest za zasób). W szczególności będzie można wyszukać i wyodrębnić dokumentację w przestarzałych formatach celem przygotowania jej konwersji do formatów nowszych lub powiązania z oprogramowaniem zapewniającym możliwość wizualizacji treści.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="grupowanie" type="ndap:grupowanie-typ">
        <xs:annotation>
          <xs:documentation>Wskazanie przynależności do akt sprawy lub innego zbioru dokumentów. Pozwala na łączenie dokumentów w grupy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="identyfikator" type="ndap:identyfikator-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający identyfikator wg. ustalonej typologii oraz opcjonalnie podmiot, który nadał.
Umożliwia jednoznaczną identyfikację dokumentu w określonym zbiorze. 
Pozwala na szybkie odnalezienie tego samego dokumentu na podstawie jego identyfikatora w różnym czasie. 
Stwarza podstawy do tworzenia jednoznacznych powiązań (relacji) między dokumentami w określonym zbiorze np. przyporządkowując załączniki, notatki, potwierdzenia wysłania, potwierdzenia doręczenia, podpisy elektronicznie, opinie itd.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jezyk" type="ndap:tytul-z-jezykiem-typ">
        <xs:annotation>
          <xs:documentation>Określenie języka naturalnego zgodnie z normą ISO-639-2, użytego w dokumencie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="opis" type="ndap:dokument-opis-typ">
        <xs:annotation>
          <xs:documentation>Streszczenie, spis treści lub krótki opis treści dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uprawnienia" type="ndap:uprawnienia-typ">
        <xs:annotation>
          <xs:documentation>Wskazanie podmiotu uprawnionego do dysponowania treścią dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kwalifikacja" type="ndap:kwalifikacja-typ">
        <xs:annotation>
          <xs:documentation>Kategoria archiwalna dokumentu oraz informacje o tym, kto i kiedy nadał kategorię. 
Pozwala na określenie, jak długo dany dokument (grupa dokumentów) powinien być przechowywany, oraz czy i kiedy zostanie przekazany do archiwum państwowego. 
Umożliwi łatwe ustalenie, jakie materiały można ze zbiorów w danym roku wycofać, dla jakich trzeba ustalić ponownie kategorię archiwalną, a jakie podlegają obowiązkowi przekazania do archiwum państwowego.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relacja" type="ndap:relacja-typ">
        <xs:annotation>
          <xs:documentation>Określenie bezpośredniego powiązania z innym dokumentem i rodzaju tego powiązania. Pozwala na odnalezienie dokumentów, które są bezpośrednio powiązane z danym dokumentem. Na przykład kolejnych wersji tego samego dokumentu, dekretacji dokumentu, dokumentów składających się z innych dokumentów, załączników do dokumentów, potwierdzeń doręczenia dokumentu, itd.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="status" type="ndap:status-typ">
        <xs:annotation>
          <xs:documentation>Status dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tematyka" type="ndap:tematyka-typ">
        <xs:annotation>
          <xs:documentation>Słowa kluczowe dotyczące treści dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tworca" type="ndap:tworca-typ">
        <xs:annotation>
          <xs:documentation>Podmiot (instytucja lub osoba) pełniący określoną rolę w przygotowaniu dokumentu. Pozwala na identyfikację osoby fizycznej lub prawnej, która przygotowała, modyfikowała, akceptowała/zatwierdziła, podpisała dokument.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="typ" type="ndap:kategoria-typ">
        <xs:annotation>
          <xs:documentation>Określenie kategorii i rodzaju dokumentu. 
Pozwala na odnajdywanie dokumentów wg określonych klas (np. tylko dokumentów tekstowych, tylko fotografii, tylko nagrań dźwiękowych) oraz rodzajów (np. tylko decyzji, postanowień, urzędowych poświadczeń odbioru).
Umożliwia podanie informacji o rodzaju dokumentu na wykazach dokumentów znajdujących się w danym zbiorze.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="tytul" type="ndap:tytul-typ">
        <xs:annotation>
          <xs:documentation>Tytuł dokumentu. 
Pozwala na wstępne zorientowanie się czego dotyczy dokument o określonym tytule. Ma to szczególne znaczenie w przypadku prezentacji listy dokumentów należących do określonego zbioru – na przykład dokumentów należących do akt sprawy, dokumentów zarejestrowanych w ewidencji umów lub listy dokumentów będących wynikiem wyszukiwania. Tytuł pozwala zorientować się przeglądającemu listę, czy treść określonego dokumentu jest interesująca dla niego bez potrzeby zapoznawania się z treścią każdego dokumentu. 
Dodatkowym celem wyodrębnienia tytułu jest możliwość wyszukania dokumentu wg fragmentu lub całości tytułu, co w połączeniu z dodatkowymi warunkami wyszukiwania (np. data i twórca) może pozwolić na szybkie i precyzyjnie odnalezienie dokumentu w większym zbiorze.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="odbiorca-typ">
    <xs:annotation>
      <xs:documentation>Podmioty, do których dokument jest adresowany.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="podmiot" type="ndap:podmiot-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane podmiotu. 
Jednostka (osoba fizyczna, instytucja), która może być stroną w jakiejś czynności związanej z dokumentem (tworzenie, odbieranie, akceptacja, podpisywanie, łączenie w grupy). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="rodzaj" type="ndap:RecipientType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="podmiot-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane podmiotu. 
Jednostka (osoba fizyczna, instytucja), która może być stroną w jakiejś czynności związanej z dokumentem (tworzenie, odbieranie, akceptacja, podpisywanie, łączenie w grupy). </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element maxOccurs="1" name="osoba" type="ndap:osoba-typ">
          <xs:annotation>
            <xs:documentation>Element zawierający dane osoby fizycznej.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" name="instytucja" type="ndap:instytucja-typ">
          <xs:annotation>
            <xs:documentation>Element zawierający dane instytucji. Podmiot inny niż osoba fizyczna np. urząd, organizacja, przedsiębiorstwo. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="osoba-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane osoby fizycznej.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="ndap:osoba-identyfikator-typ">
        <xs:annotation>
          <xs:documentation>Identyfikator osoby.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="nazwisko" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwisko</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="imie" type="xs:string">
        <xs:annotation>
          <xs:documentation>Imiona</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="adres" type="ndap:adres-typ">
        <xs:annotation>
          <xs:documentation>Adresy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kontakt" type="ndap:kontakt-typ">
        <xs:annotation>
          <xs:documentation>Kontakty</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="osoba-identyfikator-typ">
    <xs:annotation>
      <xs:documentation>Identyfikator osoby.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="ndap:osoba-identyfikator-rodzajtyp" use="required">
          <xs:annotation>
            <xs:documentation>Typ identyfikatora osoby.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adres-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane adresowe.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="kod" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kod pocztowy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="poczta" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa urzędu pocztowego</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="miejscowosc" type="ndap:niepusty-ciag-typ">
        <xs:annotation>
          <xs:documentation>Nazwa miejscowości</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ulica" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa ulicy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="budynek" type="xs:string">
        <xs:annotation>
          <xs:documentation>Numer budynku</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="lokal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Numer miszkania</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="skrytkaPocztowa" type="xs:string">
        <xs:annotation>
          <xs:documentation>Adres skrytki pocztowej</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="uwagi" type="xs:string">
        <xs:annotation>
          <xs:documentation>Dodatkowe informacje o adresie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="kraj" type="ndap:kraj-typ">
        <xs:annotation>
          <xs:documentation>Kod kraju</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="gmina" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa gminy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="powiat" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa powiatu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="wojewodztwo" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa województwa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="kraj-typ">
    <xs:annotation>
      <xs:documentation>Strownik skrótów państw.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AF" />
      <xs:enumeration value="AX" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="DZ" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="AD" />
      <xs:enumeration value="AO" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="AQ" />
      <xs:enumeration value="AG" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="AM" />
      <xs:enumeration value="AW" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="BH" />
      <xs:enumeration value="BD" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="BY" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="BZ" />
      <xs:enumeration value="BJ" />
      <xs:enumeration value="BM" />
      <xs:enumeration value="BT" />
      <xs:enumeration value="BO" />
      <xs:enumeration value="BA" />
      <xs:enumeration value="BW" />
      <xs:enumeration value="BV" />
      <xs:enumeration value="BR" />
      <xs:enumeration value="IO" />
      <xs:enumeration value="BN" />
      <xs:enumeration value="BG" />
      <xs:enumeration value="BF" />
      <xs:enumeration value="BI" />
      <xs:enumeration value="KH" />
      <xs:enumeration value="CM" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CV" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="TD" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CX" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="KM" />
      <xs:enumeration value="CG" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="CK" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="CU" />
      <xs:enumeration value="CY" />
      <xs:enumeration value="CZ" />
      <xs:enumeration value="DK" />
      <xs:enumeration value="DJ" />
      <xs:enumeration value="DM" />
      <xs:enumeration value="DO" />
      <xs:enumeration value="EC" />
      <xs:enumeration value="EG" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="GQ" />
      <xs:enumeration value="ER" />
      <xs:enumeration value="EE" />
      <xs:enumeration value="ET" />
      <xs:enumeration value="FK" />
      <xs:enumeration value="FO" />
      <xs:enumeration value="FJ" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="GF" />
      <xs:enumeration value="PF" />
      <xs:enumeration value="TF" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="GM" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="GH" />
      <xs:enumeration value="GI" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="GL" />
      <xs:enumeration value="GD" />
      <xs:enumeration value="GP" />
      <xs:enumeration value="GU" />
      <xs:enumeration value="GT" />
      <xs:enumeration value="GG" />
      <xs:enumeration value="GN" />
      <xs:enumeration value="GW" />
      <xs:enumeration value="GY" />
      <xs:enumeration value="HT" />
      <xs:enumeration value="HM" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="HN" />
      <xs:enumeration value="HK" />
      <xs:enumeration value="HU" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IR" />
      <xs:enumeration value="IQ" />
      <xs:enumeration value="IE" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="JM" />
      <xs:enumeration value="JP" />
      <xs:enumeration value="JE" />
      <xs:enumeration value="JO" />
      <xs:enumeration value="KZ" />
      <xs:enumeration value="KE" />
      <xs:enumeration value="KI" />
      <xs:enumeration value="KP" />
      <xs:enumeration value="KR" />
      <xs:enumeration value="KW" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="LV" />
      <xs:enumeration value="LB" />
      <xs:enumeration value="LS" />
      <xs:enumeration value="LR" />
      <xs:enumeration value="LY" />
      <xs:enumeration value="LI" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="LU" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MK" />
      <xs:enumeration value="MG" />
      <xs:enumeration value="MW" />
      <xs:enumeration value="MY" />
      <xs:enumeration value="MV" />
      <xs:enumeration value="ML" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="MH" />
      <xs:enumeration value="MQ" />
      <xs:enumeration value="MR" />
      <xs:enumeration value="MU" />
      <xs:enumeration value="YT" />
      <xs:enumeration value="MX" />
      <xs:enumeration value="FM" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MC" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MZ" />
      <xs:enumeration value="MM" />
      <xs:enumeration value="NA" />
      <xs:enumeration value="NR" />
      <xs:enumeration value="NP" />
      <xs:enumeration value="NL" />
      <xs:enumeration value="AN" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="NZ" />
      <xs:enumeration value="NI" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NG" />
      <xs:enumeration value="NU" />
      <xs:enumeration value="NF" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="NO" />
      <xs:enumeration value="OM" />
      <xs:enumeration value="PK" />
      <xs:enumeration value="PW" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="PY" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="PH" />
      <xs:enumeration value="PN" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="QA" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RU" />
      <xs:enumeration value="RW" />
      <xs:enumeration value="SH" />
      <xs:enumeration value="KN" />
      <xs:enumeration value="LC" />
      <xs:enumeration value="PM" />
      <xs:enumeration value="VC" />
      <xs:enumeration value="WS" />
      <xs:enumeration value="SM" />
      <xs:enumeration value="ST" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="SN" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SG" />
      <xs:enumeration value="SK" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="SO" />
      <xs:enumeration value="ZA" />
      <xs:enumeration value="GS" />
      <xs:enumeration value="ES" />
      <xs:enumeration value="LK" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="SJ" />
      <xs:enumeration value="SZ" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="SY" />
      <xs:enumeration value="TW" />
      <xs:enumeration value="TJ" />
      <xs:enumeration value="TZ" />
      <xs:enumeration value="TH" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="TG" />
      <xs:enumeration value="TK" />
      <xs:enumeration value="TO" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="TV" />
      <xs:enumeration value="UG" />
      <xs:enumeration value="UA" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="GB" />
      <xs:enumeration value="US" />
      <xs:enumeration value="UM" />
      <xs:enumeration value="UY" />
      <xs:enumeration value="UZ" />
      <xs:enumeration value="VU" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VN" />
      <xs:enumeration value="VG" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="WF" />
      <xs:enumeration value="EH" />
      <xs:enumeration value="YE" />
      <xs:enumeration value="ZM" />
      <xs:enumeration value="ZW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="kontakt-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane kontaktowe.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="ndap:kontakt-rodzaj-typ" use="required">
          <xs:annotation>
            <xs:documentation>Wskazanie rodzaju kontaktu np. email, telefon, adres strony internetowej.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="instytucja-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane instytucji. Podmiot inny niż osoba fizyczna np. urząd, organizacja, przedsiębiorstwo. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="ndap:id-typ">
        <xs:annotation>
          <xs:documentation>Identyfikator elementu wraz ze zdefiniowanym typem.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="nazwa" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa instytucji</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="adres" type="ndap:adres-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane adresowe.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kontakt" type="ndap:kontakt-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane kontaktowe.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="jednostka" type="ndap:instytucja-jednostka-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane jednostki organizacyjnej instytucji.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="id-typ">
    <xs:annotation>
      <xs:documentation>Identyfikator elementu wraz ze zdefiniowanym typem.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="ndap:id-rodzaj-typ" use="required">
          <xs:annotation>
            <xs:documentation>Typ identyfikatora.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="instytucja-komorka-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane komórki lub jednostki organizacyjnej instytucji.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="nazwa" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa instytucji</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="adres" type="ndap:adres-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane adresowe.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kontakt" type="ndap:kontakt-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane kontaktowe.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="komorka" type="ndap:instytucja-komorka-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane komórki lub jednostki organizacyjnej instytucji.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="pracownik" type="ndap:instytucja-pracownik-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane pracownika instytucji. Pozwala opisać dane identyfikujące pracownika instytucji odpowiedzialnego za czynności przy tworzeniu i obiegu dokumentów.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instytucja-pracownik-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane pracownika instytucji. Pozwala opisać dane identyfikujące pracownika instytucji odpowiedzialnego za czynności przy tworzeniu i obiegu dokumentów.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="nazwisko" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwisko</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="imie" type="xs:string">
        <xs:annotation>
          <xs:documentation>Imiona</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kontakt" type="ndap:kontakt-typ">
        <xs:annotation>
          <xs:documentation>Kontakty</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="stanowisko" type="xs:string">
        <xs:annotation>
          <xs:documentation>Stanowisko zajmowane przez pracownika</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instytucja-jednostka-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane jednostki organizacyjnej instytucji.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="nazwa" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwa instytucji</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="adres" type="ndap:adres-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane adresowe.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kontakt" type="ndap:kontakt-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane kontaktowe.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="poziom" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="jednostka" type="ndap:instytucja-jednostka-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane jednostki organizacyjnej instytucji.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="pracownik" type="ndap:instytucja-jednostka-pracownik-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane pracownika instytucji. Pozwala opisać dane identyfikujące pracownika instytucji odpowiedzialnego za czynności przy tworzeniu i obiegu dokumentów.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instytucja-jednostka-pracownik-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane pracownika instytucji. Pozwala opisać dane identyfikujące pracownika instytucji odpowiedzialnego za czynności przy tworzeniu i obiegu dokumentów.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="ndap:id-typ">
        <xs:annotation>
          <xs:documentation>Identyfikator elementu wraz ze zdefiniowanym typem.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="nazwisko" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nazwisko</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="imie" type="xs:string">
        <xs:annotation>
          <xs:documentation>Imię</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kontakt" type="ndap:kontakt-typ">
        <xs:annotation>
          <xs:documentation>Kontakty</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="funkcja" type="xs:string">
        <xs:annotation>
          <xs:documentation>Stanowisko zajmowane przez pracownika</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RecipientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="glowny" />
      <xs:enumeration value="do wiadomosci" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="data-dokumentu-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane o dacie dokumentu. 
Umożliwia wyszukiwanie i sortowanie dokumentów lub ich grupy według czasu zdarzeń z nimi związanych, jak również wyszukiwanie / filtrowanie wg rodzajów zdarzeń.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="ndap:data-dokumentu-grupa" />
      <xs:group ref="ndap:przedzial-czasu-grupa" />
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="data-dokumentu-zdarzenie-typ">
    <xs:annotation>
      <xs:documentation>Słownik zdarzeń związanych z datą dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="dostępny po" />
      <xs:enumeration value="opublikowany" />
      <xs:enumeration value="stworzony" />
      <xs:enumeration value="uzyskany" />
      <xs:enumeration value="otrzymany" />
      <xs:enumeration value="wysłany" />
      <xs:enumeration value="zaakceptowany" />
      <xs:enumeration value="zatwierdzony" />
      <xs:enumeration value="zmodyfikowany" />
      <xs:enumeration value="data skrajne" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="dostep-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający status dostępności dokumentu. 
Określenie zasad i warunków regulujących dostęp do dokumentów. 
Informacja o dostępności nie może naruszać przepisów regulujących dostęp do danych (np. do danych osobowych, informacji niejawnych itd.)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="dostepnosc" type="ndap:dostepnosc-typ">
        <xs:annotation>
          <xs:documentation>Słownik typów dostępności.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="uwagi" type="xs:string">
        <xs:annotation>
          <xs:documentation>Dodatkowe informacje o adresie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="data" type="ndap:dostep-data-typ">
        <xs:annotation>
          <xs:documentation>Data dostępności dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="dostepnosc-typ">
    <xs:annotation>
      <xs:documentation>Słownik typów dostępności.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="publiczny" />
      <xs:enumeration value="niepubliczny" />
      <xs:enumeration value="wyłączny" />
      <xs:enumeration value="wszystko" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="dostep-data-typ">
    <xs:annotation>
      <xs:documentation>Data dostępności dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="typ" type="ndap:dostepnosc-data-typ">
        <xs:annotation>
          <xs:documentation>Typ daty dostepności.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="czas" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data dostępności dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="dostepnosc-data-typ">
    <xs:annotation>
      <xs:documentation>Typ daty dostepności.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="dostępny po" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="format-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający informacje o formacie dokumentu. 
Pozwala na wskazanie formatu i rozmiaru dokumentu. Umożliwi w przyszłości wyszukiwanie dokumentów wg ich rozmiaru lub formatu. 
Pozwoli na odróżnienie dokumentów elektronicznych od nieelektronicznych celem sprawdzenia czy dany zasób informacyjny zawiera odniesienia do dokumentów zapisanych na nośnikach fizycznych(papier, taśmy audio i wideo ale także przenośne informatyczne nośniki danych na których zapisano e - dokumentację znajdującą się poza zbiorem dostępnym bezpośrednio).Będzie można również wyszukać dokumentację wymagającą przeniesienia na inne nośniki co ułatwi konserwację zasobu. 
W przypadku dokumentów elektronicznych powoli także na zarządzanie dokumentacją zapisaną w przestarzałych technologicznie formatach w przypadku gdy system operacyjny nie będzie umiał rozpoznać formatu (informacja o formacie będzie wskazówką naprowadzającą co to jest za zasób). W szczególności będzie można wyszukać i wyodrębnić dokumentację w przestarzałych formatach celem przygotowania jej konwersji do formatów nowszych lub powiązania z oprogramowaniem zapewniającym możliwość wizualizacji treści.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="typFormatu" type="ndap:niepusty-ciag-typ">
        <xs:annotation>
          <xs:documentation>Określenie typu pliku lub zasobu będącego zbiorem plików lub dokumentu fizycznego</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="specyfikacja" type="xs:string">
        <xs:annotation>
          <xs:documentation>Specyficzne dla danego typu formatu sposoby zapisu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="niekompletnosc" type="ndap:wartosc-logiczna-typ">
        <xs:annotation>
          <xs:documentation>Wskazanie, że dokument w formacie wskazanym przez format.typFormatu jest niekompletnym odwzorowaniem cyfrowym dokumentu nieelektronicznego.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="wielkosc" type="ndap:wielkosc-format-typ">
        <xs:annotation>
          <xs:documentation>Element definiujący wielkość dokumentu. Posiada atrybut miara określający miarę wielkości.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="opis" type="xs:string">
        <xs:annotation>
          <xs:documentation>Opis formatu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="wartosc-logiczna-typ">
    <xs:annotation>
      <xs:documentation>Słownik wartości logicznych.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="nie" />
      <xs:enumeration value="tak" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="wielkosc-format-typ">
    <xs:annotation>
      <xs:documentation>Element definiujący wielkość dokumentu. Posiada atrybut miara określający miarę wielkości.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="miara" type="ndap:miara-typ" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="grupowanie-typ">
    <xs:annotation>
      <xs:documentation>Wskazanie przynależności do akt sprawy lub innego zbioru dokumentów. Pozwala na łączenie dokumentów w grupy.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="typ" type="ndap:grupowanie-typgrupy-typ">
        <xs:annotation>
          <xs:documentation>Określenie typu grupy dokumentów np. sprawa, rejestr umów, rejestr skarg i wniosków itd.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="kod" type="ndap:grupowanie-kodgrupy-typ">
        <xs:annotation>
          <xs:documentation>Numer albo ciąg znaków będący identyfikatorem grupy dokumentów. W danym kontekście (miejscu w strukturze obiegu dokumentów) wartość powinna być unikatowa.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="opis" type="ndap:grupowanie-opis-typ">
        <xs:annotation>
          <xs:documentation>Hasło klasyfikacyjne wykazu akt w przypadku sprawy; w przypadku grupy dokumentów innej niż sprawa - tekstowy opis grupy.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identyfikator-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający identyfikator wg. ustalonej typologii oraz opcjonalnie podmiot, który nadał.
Umożliwia jednoznaczną identyfikację dokumentu w określonym zbiorze. 
Pozwala na szybkie odnalezienie tego samego dokumentu na podstawie jego identyfikatora w różnym czasie. 
Stwarza podstawy do tworzenia jednoznacznych powiązań (relacji) między dokumentami w określonym zbiorze np. przyporządkowując załączniki, notatki, potwierdzenia wysłania, potwierdzenia doręczenia, podpisy elektronicznie, opinie itd.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="typidentyfikatora" type="ndap:identyfikator-rodzaj-typ">
        <xs:annotation>
          <xs:documentation>Typ identyfikatora np. Znak sprawy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="wartoscId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Wartość identyfikatora np. ABC-A.123.77.3.2011.JW.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="podmiot" type="ndap:podmiot-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane podmiotu. 
Jednostka (osoba fizyczna, instytucja), która może być stroną w jakiejś czynności związanej z dokumentem (tworzenie, odbieranie, akceptacja, podpisywanie, łączenie w grupy). </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tytul-z-jezykiem-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający tytuł dokumentu z podanie kodu języka, w którym go sporządzono.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="kodJezyka" type="ndap:kod-jezyka-typ" use="optional">
          <xs:annotation>
            <xs:documentation>Słownik kodów języka, w którym sporządzono dokument.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="kod-jezyka-typ">
    <xs:annotation>
      <xs:documentation>Słownik kodów języka, w którym sporządzono dokument.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="abk" />
      <xs:enumeration value="ace" />
      <xs:enumeration value="ach" />
      <xs:enumeration value="ada" />
      <xs:enumeration value="aar" />
      <xs:enumeration value="afh" />
      <xs:enumeration value="afr" />
      <xs:enumeration value="afa" />
      <xs:enumeration value="aka" />
      <xs:enumeration value="akk" />
      <xs:enumeration value="alb" />
      <xs:enumeration value="ale" />
      <xs:enumeration value="alg" />
      <xs:enumeration value="tut" />
      <xs:enumeration value="amh" />
      <xs:enumeration value="apa" />
      <xs:enumeration value="ara" />
      <xs:enumeration value="arc" />
      <xs:enumeration value="arp" />
      <xs:enumeration value="arn" />
      <xs:enumeration value="arw" />
      <xs:enumeration value="arm" />
      <xs:enumeration value="art" />
      <xs:enumeration value="asm" />
      <xs:enumeration value="ast" />
      <xs:enumeration value="ath" />
      <xs:enumeration value="aus" />
      <xs:enumeration value="map" />
      <xs:enumeration value="ava" />
      <xs:enumeration value="ave" />
      <xs:enumeration value="awa" />
      <xs:enumeration value="aym" />
      <xs:enumeration value="aze" />
      <xs:enumeration value="ban" />
      <xs:enumeration value="bat" />
      <xs:enumeration value="bal" />
      <xs:enumeration value="bam" />
      <xs:enumeration value="bai" />
      <xs:enumeration value="bad" />
      <xs:enumeration value="bnt" />
      <xs:enumeration value="bas" />
      <xs:enumeration value="bak" />
      <xs:enumeration value="baq" />
      <xs:enumeration value="btk" />
      <xs:enumeration value="bej" />
      <xs:enumeration value="bel" />
      <xs:enumeration value="bem" />
      <xs:enumeration value="ben" />
      <xs:enumeration value="ber" />
      <xs:enumeration value="bho" />
      <xs:enumeration value="bih" />
      <xs:enumeration value="bik" />
      <xs:enumeration value="bin" />
      <xs:enumeration value="bis" />
      <xs:enumeration value="nob" />
      <xs:enumeration value="bos" />
      <xs:enumeration value="bra" />
      <xs:enumeration value="bre" />
      <xs:enumeration value="bug" />
      <xs:enumeration value="bul" />
      <xs:enumeration value="bua" />
      <xs:enumeration value="bur" />
      <xs:enumeration value="cad" />
      <xs:enumeration value="car" />
      <xs:enumeration value="spa" />
      <xs:enumeration value="cat" />
      <xs:enumeration value="cau" />
      <xs:enumeration value="ceb" />
      <xs:enumeration value="cel" />
      <xs:enumeration value="cai" />
      <xs:enumeration value="chg" />
      <xs:enumeration value="cmc" />
      <xs:enumeration value="cha" />
      <xs:enumeration value="che" />
      <xs:enumeration value="chr" />
      <xs:enumeration value="nya" />
      <xs:enumeration value="chy" />
      <xs:enumeration value="chb" />
      <xs:enumeration value="chi" />
      <xs:enumeration value="chn" />
      <xs:enumeration value="chp" />
      <xs:enumeration value="cho" />
      <xs:enumeration value="zha" />
      <xs:enumeration value="chu" />
      <xs:enumeration value="chk" />
      <xs:enumeration value="chv" />
      <xs:enumeration value="cop" />
      <xs:enumeration value="cor" />
      <xs:enumeration value="cos" />
      <xs:enumeration value="cre" />
      <xs:enumeration value="mus" />
      <xs:enumeration value="crp" />
      <xs:enumeration value="cpe" />
      <xs:enumeration value="cpf" />
      <xs:enumeration value="cpp" />
      <xs:enumeration value="scr" />
      <xs:enumeration value="cus" />
      <xs:enumeration value="cze" />
      <xs:enumeration value="dak" />
      <xs:enumeration value="dan" />
      <xs:enumeration value="day" />
      <xs:enumeration value="del" />
      <xs:enumeration value="din" />
      <xs:enumeration value="div" />
      <xs:enumeration value="doi" />
      <xs:enumeration value="dgr" />
      <xs:enumeration value="dra" />
      <xs:enumeration value="dua" />
      <xs:enumeration value="dut" />
      <xs:enumeration value="dum" />
      <xs:enumeration value="dyu" />
      <xs:enumeration value="dzo" />
      <xs:enumeration value="efi" />
      <xs:enumeration value="egy" />
      <xs:enumeration value="eka" />
      <xs:enumeration value="elx" />
      <xs:enumeration value="eng" />
      <xs:enumeration value="enm" />
      <xs:enumeration value="ang" />
      <xs:enumeration value="epo" />
      <xs:enumeration value="est" />
      <xs:enumeration value="ewe" />
      <xs:enumeration value="ewo" />
      <xs:enumeration value="fan" />
      <xs:enumeration value="fat" />
      <xs:enumeration value="fao" />
      <xs:enumeration value="fij" />
      <xs:enumeration value="fin" />
      <xs:enumeration value="fiu" />
      <xs:enumeration value="fon" />
      <xs:enumeration value="fre" />
      <xs:enumeration value="frm" />
      <xs:enumeration value="fro" />
      <xs:enumeration value="fry" />
      <xs:enumeration value="fur" />
      <xs:enumeration value="ful" />
      <xs:enumeration value="gaa" />
      <xs:enumeration value="gla" />
      <xs:enumeration value="glg" />
      <xs:enumeration value="lug" />
      <xs:enumeration value="gay" />
      <xs:enumeration value="gba" />
      <xs:enumeration value="gez" />
      <xs:enumeration value="geo" />
      <xs:enumeration value="ger" />
      <xs:enumeration value="nds" />
      <xs:enumeration value="gmh" />
      <xs:enumeration value="goh" />
      <xs:enumeration value="gem" />
      <xs:enumeration value="kik" />
      <xs:enumeration value="gil" />
      <xs:enumeration value="gon" />
      <xs:enumeration value="gor" />
      <xs:enumeration value="got" />
      <xs:enumeration value="grb" />
      <xs:enumeration value="grc" />
      <xs:enumeration value="gre" />
      <xs:enumeration value="grn" />
      <xs:enumeration value="guj" />
      <xs:enumeration value="gwi" />
      <xs:enumeration value="hai" />
      <xs:enumeration value="hau" />
      <xs:enumeration value="haw" />
      <xs:enumeration value="heb" />
      <xs:enumeration value="her" />
      <xs:enumeration value="hil" />
      <xs:enumeration value="him" />
      <xs:enumeration value="hin" />
      <xs:enumeration value="hmo" />
      <xs:enumeration value="hit" />
      <xs:enumeration value="hmn" />
      <xs:enumeration value="hun" />
      <xs:enumeration value="hup" />
      <xs:enumeration value="iba" />
      <xs:enumeration value="ice" />
      <xs:enumeration value="ido" />
      <xs:enumeration value="ibo" />
      <xs:enumeration value="ijo" />
      <xs:enumeration value="ilo" />
      <xs:enumeration value="smn" />
      <xs:enumeration value="inc" />
      <xs:enumeration value="ine" />
      <xs:enumeration value="ind" />
      <xs:enumeration value="ina" />
      <xs:enumeration value="ile" />
      <xs:enumeration value="iku" />
      <xs:enumeration value="ipk" />
      <xs:enumeration value="ira" />
      <xs:enumeration value="gle" />
      <xs:enumeration value="mga" />
      <xs:enumeration value="sga" />
      <xs:enumeration value="iro" />
      <xs:enumeration value="ita" />
      <xs:enumeration value="jpn" />
      <xs:enumeration value="jav" />
      <xs:enumeration value="jrb" />
      <xs:enumeration value="jpr" />
      <xs:enumeration value="kab" />
      <xs:enumeration value="kac" />
      <xs:enumeration value="kal" />
      <xs:enumeration value="kam" />
      <xs:enumeration value="kan" />
      <xs:enumeration value="kau" />
      <xs:enumeration value="kaa" />
      <xs:enumeration value="kar" />
      <xs:enumeration value="kas" />
      <xs:enumeration value="kaw" />
      <xs:enumeration value="kaz" />
      <xs:enumeration value="kha" />
      <xs:enumeration value="khm" />
      <xs:enumeration value="khi" />
      <xs:enumeration value="kho" />
      <xs:enumeration value="kmb" />
      <xs:enumeration value="kin" />
      <xs:enumeration value="kir" />
      <xs:enumeration value="kom" />
      <xs:enumeration value="kon" />
      <xs:enumeration value="kok" />
      <xs:enumeration value="kor" />
      <xs:enumeration value="kos" />
      <xs:enumeration value="kpe" />
      <xs:enumeration value="kro" />
      <xs:enumeration value="kua" />
      <xs:enumeration value="kum" />
      <xs:enumeration value="kur" />
      <xs:enumeration value="kru" />
      <xs:enumeration value="kut" />
      <xs:enumeration value="lad" />
      <xs:enumeration value="lah" />
      <xs:enumeration value="lam" />
      <xs:enumeration value="lao" />
      <xs:enumeration value="lat" />
      <xs:enumeration value="lav" />
      <xs:enumeration value="ltz" />
      <xs:enumeration value="lez" />
      <xs:enumeration value="lin" />
      <xs:enumeration value="lit" />
      <xs:enumeration value="loz" />
      <xs:enumeration value="lub" />
      <xs:enumeration value="lua" />
      <xs:enumeration value="lui" />
      <xs:enumeration value="smj" />
      <xs:enumeration value="lun" />
      <xs:enumeration value="luo" />
      <xs:enumeration value="lus" />
      <xs:enumeration value="mac" />
      <xs:enumeration value="mad" />
      <xs:enumeration value="mag" />
      <xs:enumeration value="mai" />
      <xs:enumeration value="mak" />
      <xs:enumeration value="mlg" />
      <xs:enumeration value="may" />
      <xs:enumeration value="mal" />
      <xs:enumeration value="mlt" />
      <xs:enumeration value="mnc" />
      <xs:enumeration value="mdr" />
      <xs:enumeration value="man" />
      <xs:enumeration value="mni" />
      <xs:enumeration value="mno" />
      <xs:enumeration value="glv" />
      <xs:enumeration value="mao" />
      <xs:enumeration value="mar" />
      <xs:enumeration value="chm" />
      <xs:enumeration value="mah" />
      <xs:enumeration value="mwr" />
      <xs:enumeration value="mas" />
      <xs:enumeration value="myn" />
      <xs:enumeration value="men" />
      <xs:enumeration value="mic" />
      <xs:enumeration value="min" />
      <xs:enumeration value="mis" />
      <xs:enumeration value="moh" />
      <xs:enumeration value="mol" />
      <xs:enumeration value="mkh" />
      <xs:enumeration value="lol" />
      <xs:enumeration value="mon" />
      <xs:enumeration value="mos" />
      <xs:enumeration value="mul" />
      <xs:enumeration value="mun" />
      <xs:enumeration value="nah" />
      <xs:enumeration value="nau" />
      <xs:enumeration value="nav" />
      <xs:enumeration value="nde" />
      <xs:enumeration value="nbl" />
      <xs:enumeration value="ndo" />
      <xs:enumeration value="nep" />
      <xs:enumeration value="nia" />
      <xs:enumeration value="nic" />
      <xs:enumeration value="ssa" />
      <xs:enumeration value="niu" />
      <xs:enumeration value="non" />
      <xs:enumeration value="nai" />
      <xs:enumeration value="sme" />
      <xs:enumeration value="nor" />
      <xs:enumeration value="nno" />
      <xs:enumeration value="nub" />
      <xs:enumeration value="nym" />
      <xs:enumeration value="nyn" />
      <xs:enumeration value="nyo" />
      <xs:enumeration value="nzi" />
      <xs:enumeration value="oci" />
      <xs:enumeration value="oji" />
      <xs:enumeration value="ori" />
      <xs:enumeration value="orm" />
      <xs:enumeration value="osa" />
      <xs:enumeration value="oss" />
      <xs:enumeration value="oto" />
      <xs:enumeration value="pal" />
      <xs:enumeration value="pau" />
      <xs:enumeration value="pli" />
      <xs:enumeration value="pam" />
      <xs:enumeration value="pag" />
      <xs:enumeration value="pan" />
      <xs:enumeration value="pap" />
      <xs:enumeration value="paa" />
      <xs:enumeration value="per" />
      <xs:enumeration value="peo" />
      <xs:enumeration value="phi" />
      <xs:enumeration value="phn" />
      <xs:enumeration value="pon" />
      <xs:enumeration value="pol" />
      <xs:enumeration value="por" />
      <xs:enumeration value="pra" />
      <xs:enumeration value="pro" />
      <xs:enumeration value="pus" />
      <xs:enumeration value="que" />
      <xs:enumeration value="roh" />
      <xs:enumeration value="raj" />
      <xs:enumeration value="rap" />
      <xs:enumeration value="rar" />
      <xs:enumeration value="roa" />
      <xs:enumeration value="rum" />
      <xs:enumeration value="rom" />
      <xs:enumeration value="run" />
      <xs:enumeration value="rus" />
      <xs:enumeration value="sal" />
      <xs:enumeration value="sam" />
      <xs:enumeration value="smi" />
      <xs:enumeration value="smo" />
      <xs:enumeration value="sad" />
      <xs:enumeration value="sag" />
      <xs:enumeration value="san" />
      <xs:enumeration value="sat" />
      <xs:enumeration value="srd" />
      <xs:enumeration value="sas" />
      <xs:enumeration value="sco" />
      <xs:enumeration value="sel" />
      <xs:enumeration value="sem" />
      <xs:enumeration value="scc" />
      <xs:enumeration value="srr" />
      <xs:enumeration value="shn" />
      <xs:enumeration value="sna" />
      <xs:enumeration value="sid" />
      <xs:enumeration value="sgn" />
      <xs:enumeration value="bla" />
      <xs:enumeration value="snd" />
      <xs:enumeration value="sin" />
      <xs:enumeration value="sit" />
      <xs:enumeration value="sio" />
      <xs:enumeration value="sms" />
      <xs:enumeration value="den" />
      <xs:enumeration value="sla" />
      <xs:enumeration value="slo" />
      <xs:enumeration value="slv" />
      <xs:enumeration value="sog" />
      <xs:enumeration value="som" />
      <xs:enumeration value="son" />
      <xs:enumeration value="snk" />
      <xs:enumeration value="wen" />
      <xs:enumeration value="nso" />
      <xs:enumeration value="sot" />
      <xs:enumeration value="sai" />
      <xs:enumeration value="sma" />
      <xs:enumeration value="suk" />
      <xs:enumeration value="sux" />
      <xs:enumeration value="sun" />
      <xs:enumeration value="sus" />
      <xs:enumeration value="swa" />
      <xs:enumeration value="ssw" />
      <xs:enumeration value="swe" />
      <xs:enumeration value="syr" />
      <xs:enumeration value="tgl" />
      <xs:enumeration value="tah" />
      <xs:enumeration value="tai" />
      <xs:enumeration value="tgk" />
      <xs:enumeration value="tmh" />
      <xs:enumeration value="tam" />
      <xs:enumeration value="tat" />
      <xs:enumeration value="tel" />
      <xs:enumeration value="ter" />
      <xs:enumeration value="tet" />
      <xs:enumeration value="tha" />
      <xs:enumeration value="tib" />
      <xs:enumeration value="tig" />
      <xs:enumeration value="tir" />
      <xs:enumeration value="tem" />
      <xs:enumeration value="tiv" />
      <xs:enumeration value="tli" />
      <xs:enumeration value="tpi" />
      <xs:enumeration value="tkl" />
      <xs:enumeration value="tog" />
      <xs:enumeration value="ton" />
      <xs:enumeration value="tsi" />
      <xs:enumeration value="tso" />
      <xs:enumeration value="tsn" />
      <xs:enumeration value="tum" />
      <xs:enumeration value="tup" />
      <xs:enumeration value="tur" />
      <xs:enumeration value="ota" />
      <xs:enumeration value="tuk" />
      <xs:enumeration value="tvl" />
      <xs:enumeration value="tyv" />
      <xs:enumeration value="twi" />
      <xs:enumeration value="uga" />
      <xs:enumeration value="uig" />
      <xs:enumeration value="ukr" />
      <xs:enumeration value="umb" />
      <xs:enumeration value="und" />
      <xs:enumeration value="urd" />
      <xs:enumeration value="uzb" />
      <xs:enumeration value="vai" />
      <xs:enumeration value="ven" />
      <xs:enumeration value="vie" />
      <xs:enumeration value="vol" />
      <xs:enumeration value="vot" />
      <xs:enumeration value="wak" />
      <xs:enumeration value="wal" />
      <xs:enumeration value="wln" />
      <xs:enumeration value="war" />
      <xs:enumeration value="was" />
      <xs:enumeration value="wel" />
      <xs:enumeration value="wol" />
      <xs:enumeration value="xho" />
      <xs:enumeration value="sah" />
      <xs:enumeration value="yao" />
      <xs:enumeration value="yap" />
      <xs:enumeration value="yid" />
      <xs:enumeration value="yor" />
      <xs:enumeration value="ypk" />
      <xs:enumeration value="znd" />
      <xs:enumeration value="zap" />
      <xs:enumeration value="zen" />
      <xs:enumeration value="zul" />
      <xs:enumeration value="zun" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="kwalifikacja-typ">
    <xs:annotation>
      <xs:documentation>Kategoria archiwalna dokumentu oraz informacje o tym, kto i kiedy nadał kategorię. 
Pozwala na określenie, jak długo dany dokument (grupa dokumentów) powinien być przechowywany, oraz czy i kiedy zostanie przekazany do archiwum państwowego. 
Umożliwi łatwe ustalenie, jakie materiały można ze zbiorów w danym roku wycofać, dla jakich trzeba ustalić ponownie kategorię archiwalną, a jakie podlegają obowiązkowi przekazania do archiwum państwowego.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="kategoria" type="ndap:kategoria-archiwalna-typ">
        <xs:annotation>
          <xs:documentation>Kategoria archiwalna.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="data" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data nadania kategorii archiwalnej.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="podmiot" type="ndap:podmiot-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane podmiotu. 
Jednostka (osoba fizyczna, instytucja), która może być stroną w jakiejś czynności związanej z dokumentem (tworzenie, odbieranie, akceptacja, podpisywanie, łączenie w grupy). </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relacja-typ">
    <xs:annotation>
      <xs:documentation>Określenie bezpośredniego powiązania z innym dokumentem i rodzaju tego powiązania. Pozwala na odnalezienie dokumentów, które są bezpośrednio powiązane z danym dokumentem. Na przykład kolejnych wersji tego samego dokumentu, dekretacji dokumentu, dokumentów składających się z innych dokumentów, załączników do dokumentów, potwierdzeń doręczenia dokumentu, itd.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="identyfikator" type="ndap:identyfikator-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający identyfikator wg. ustalonej typologii oraz opcjonalnie podmiot, który nadał.
Umożliwia jednoznaczną identyfikację dokumentu w określonym zbiorze. 
Pozwala na szybkie odnalezienie tego samego dokumentu na podstawie jego identyfikatora w różnym czasie. 
Stwarza podstawy do tworzenia jednoznacznych powiązań (relacji) między dokumentami w określonym zbiorze np. przyporządkowując załączniki, notatki, potwierdzenia wysłania, potwierdzenia doręczenia, podpisy elektronicznie, opinie itd.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="typ" type="ndap:typrelacji-typ">
        <xs:annotation>
          <xs:documentation>Określenie rodzaju powiązania.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="status-typ">
    <xs:annotation>
      <xs:documentation>Status dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="rodzaj" type="ndap:status-rodzaj-typ">
        <xs:annotation>
          <xs:documentation>Rodzaj statusu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="wersja" type="ndap:status-wersja-typ">
        <xs:annotation>
          <xs:documentation>Wersja statusu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="opis" type="ndap:status-opis-typ">
        <xs:annotation>
          <xs:documentation>Opis statusu.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tematyka-typ">
    <xs:annotation>
      <xs:documentation>Słowa kluczowe dotyczące treści dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="przedmiot" type="xs:string">
        <xs:annotation>
          <xs:documentation>Określenie tematyki treści dokumentu na bardzo dużym poziomie ogólności, nie będące nazwą własną (tj. nie nazwą geograficzną, osoby, obiektu, ulicy, instytucji itp.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wspomnianaOsoba" type="xs:string">
        <xs:annotation>
          <xs:documentation>Określenie osoby o której traktuje treść dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="miejsce" type="xs:string">
        <xs:annotation>
          <xs:documentation>Określenie obszaru administracyjnego lub obiektów geograficznych o których traktuje treść.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data" type="ndap:data-przypisania-typ">
        <xs:annotation>
          <xs:documentation>Określenie okresów czasu lub konkretnych dat, których dotyczy treść dokumentu; posiada dwa podelementy: czasOd i czasDo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="odbiorca" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kategoria (grupa) osób lub instytucji, dla których dany dokument jest przeznaczony (do których kierowana jest treść).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inne" type="ndap:tematyka-slownik-typ">
        <xs:annotation>
          <xs:documentation>Inne wskazówki dotyczące treści, posiada dwa podelementy: klucz i wartość.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="data-przypisania-typ">
    <xs:annotation>
      <xs:documentation>Element zawierający dane o dacie dokumentu. 
Umożliwia wyszukiwanie i sortowanie dokumentów lub ich grupy według czasu zdarzeń z nimi związanych, jak również wyszukiwanie / filtrowanie wg rodzajów zdarzeń.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="ndap:data-zdarzenia-grupa" />
      <xs:group ref="ndap:daty-zakres-grupa" />
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="data-zdarzenia-typ">
    <xs:annotation>
      <xs:documentation>Słownik zdarzeń zwiazanych z datą dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="opublikowany" />
      <xs:enumeration value="utworzony" />
      <xs:enumeration value="data na piśmie" />
      <xs:enumeration value="uzyskany" />
      <xs:enumeration value="doręczony" />
      <xs:enumeration value="wysłany" />
      <xs:enumeration value="zatwierdzony" />
      <xs:enumeration value="podpisany" />
      <xs:enumeration value="zmodyfikowany" />
      <xs:enumeration value="data rejestracji" />
      <xs:enumeration value="dostępny po" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data-zakres-typ">
    <xs:annotation>
      <xs:documentation>Słownik zakresów dat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="daty skrajne" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tematyka-slownik-typ">
    <xs:annotation>
      <xs:documentation>Inne wskazówki dotyczące treści, posiada dwa podelementy: klucz i wartość.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="klucz" type="ndap:klucz-nazwa-typ">
        <xs:annotation>
          <xs:documentation>Klucz hasła tematycznego.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="wartosc" type="xs:string">
        <xs:annotation>
          <xs:documentation>Wartość hasła tematycznego.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tworca-typ">
    <xs:annotation>
      <xs:documentation>Podmiot (instytucja lub osoba) pełniący określoną rolę w przygotowaniu dokumentu. Pozwala na identyfikację osoby fizycznej lub prawnej, która przygotowała, modyfikowała, akceptowała/zatwierdziła, podpisała dokument.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="funkcja" type="ndap:tworca-funkcja-typ">
        <xs:annotation>
          <xs:documentation>Określenie roli podmiotu w tworzeniu treści dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="podmiot" type="ndap:podmiot-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający dane podmiotu. 
Jednostka (osoba fizyczna, instytucja), która może być stroną w jakiejś czynności związanej z dokumentem (tworzenie, odbieranie, akceptacja, podpisywanie, łączenie w grupy). </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kategoria-typ">
    <xs:annotation>
      <xs:documentation>Określenie kategorii i rodzaju dokumentu. 
Pozwala na odnajdywanie dokumentów wg określonych klas (np. tylko dokumentów tekstowych, tylko fotografii, tylko nagrań dźwiękowych) oraz rodzajów (np. tylko decyzji, postanowień, urzędowych poświadczeń odbioru).
Umożliwia podanie informacji o rodzaju dokumentu na wykazach dokumentów znajdujących się w danym zbiorze.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="klasa" type="ndap:kategoria-klasa-typ">
        <xs:annotation>
          <xs:documentation>Określenie typu dokumentu na bardzo ogólnym poziomie (np. tekst, dźwięk, obraz, obraz ruchomy itd).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="rodzaj" type="ndap:kategoria-rodzaj-typ">
        <xs:annotation>
          <xs:documentation>Dookreślenie typu dokumentu ze względu na cel jakiemu służy dokument (np. decyzja, prezentacja, faktura, ustawa, notatka, rozporządzenie, pismo itd).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tytul-typ">
    <xs:annotation>
      <xs:documentation>Tytuł dokumentu. 
Pozwala na wstępne zorientowanie się czego dotyczy dokument o określonym tytule. Ma to szczególne znaczenie w przypadku prezentacji listy dokumentów należących do określonego zbioru – na przykład dokumentów należących do akt sprawy, dokumentów zarejestrowanych w ewidencji umów lub listy dokumentów będących wynikiem wyszukiwania. Tytuł pozwala zorientować się przeglądającemu listę, czy treść określonego dokumentu jest interesująca dla niego bez potrzeby zapoznawania się z treścią każdego dokumentu. 
Dodatkowym celem wyodrębnienia tytułu jest możliwość wyszukania dokumentu wg fragmentu lub całości tytułu, co w połączeniu z dodatkowymi warunkami wyszukiwania (np. data i twórca) może pozwolić na szybkie i precyzyjnie odnalezienie dokumentu w większym zbiorze.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="oryginalny" type="ndap:tytul-z-jezykiem-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający tytuł dokumentu z podanie kodu języka, w którym go sporządzono.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alternatywny" type="ndap:tytul-z-jezykiem-typ">
        <xs:annotation>
          <xs:documentation>Element zawierający tytuł dokumentu z podanie kodu języka, w którym go sporządzono.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="dokument-opis-typ">
    <xs:annotation>
      <xs:documentation>Opis dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="uprawnienia-typ">
    <xs:annotation>
      <xs:documentation>Wskazanie podmiotu uprawnionego do dysponowania treścią dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="lokalizacja-typ">
    <xs:annotation>
      <xs:documentation>Lokalizacja dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="osoba-identyfikator-rodzajtyp">
    <xs:annotation>
      <xs:documentation>Typ identyfikatora osoby.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="PESEL" />
          <xs:enumeration value="NIP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="niepusty-ciag-typ">
    <xs:annotation>
      <xs:documentation>Typ definiujący nie pusty ciąg znaków.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value="(\r|\n|.)*\S(\r|\n|.)*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kontakt-rodzaj-typ">
    <xs:annotation>
      <xs:documentation>Typy kontaktu</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="telefon" />
          <xs:enumeration value="faks" />
          <xs:enumeration value="email" />
          <xs:enumeration value="url" />
          <xs:enumeration value="skype" />
          <xs:enumeration value="facebook" />
          <xs:enumeration value="youtube" />
          <xs:enumeration value="instagram" />
          <xs:enumeration value="tiktok" />
          <xs:enumeration value="teams" />
          <xs:enumeration value="snapchat" />
          <xs:enumeration value="wuze" />
          <xs:enumeration value="messanger" />
          <xs:enumeration value="zoom" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="id-rodzaj-typ">
    <xs:annotation>
      <xs:documentation>Typ identyfikatora.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NIP" />
          <xs:enumeration value="KRS" />
          <xs:enumeration value="REGON" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="czas-typ">
    <xs:annotation>
      <xs:documentation>Czas zapisany jako rok lub rok i miesiąc lub jako pełna data.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:gYear xs:gYearMonth xs:date xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="miara-typ">
    <xs:annotation>
      <xs:documentation>Miara wielkości dokumentu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="bajt" />
          <xs:enumeration value="b" />
          <xs:enumeration value="kB" />
          <xs:enumeration value="MB" />
          <xs:enumeration value="GB" />
          <xs:enumeration value="TB" />
          <xs:enumeration value="PB" />
          <xs:enumeration value="EB" />
          <xs:enumeration value="ZB" />
          <xs:enumeration value="YB" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="grupowanie-typgrupy-typ">
    <xs:annotation>
      <xs:documentation>Dla zbioru/grupy będącej sprawą założoną zgodnie z jednolitym rzeczowym wykazem akt typ przyjmuje wartość = „znak sprawy”. Dla pozostałych grup – inny dowolny tekst w sposób jednoznaczny charakteryzujący wyodrębniony zbiór/grupę dokumentów.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="grupowanie-kodgrupy-typ">
    <xs:annotation>
      <xs:documentation>Dla grupy będącej sprawą założoną zgodnie z jednolitym rzeczowym wykazem akt, kod przyjmuje wartość zgodną z przyjętym w podmiocie sposobem znakowania spraw. Dla pozostałych grup – unikatowy identyfikator wyodrębnionego zbioru/grupy.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="grupowanie-opis-typ">
    <xs:annotation>
      <xs:documentation>Dla grupy będącej sprawą założoną zgodnie z jednolitym rzeczowym wykazem akt – hasło klasyfikacyjne wykazu akt odpowiadające pozycji tego wykazu użytej do nadania znaku sprawy. Dla pozostałych grup tekst dodatkowo objaśniający w sposób zwięzły cel wyodrębnienia zbioru/grupy dokumentów.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="identyfikator-rodzaj-typ">
    <xs:annotation>
      <xs:documentation>Typy identyfikatorów</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SystemID" />
          <xs:enumeration value="znak sprawy" />
          <xs:enumeration value="sygnatura akt" />
          <xs:enumeration value="znak pisma" />
          <xs:enumeration value="numer" />
          <xs:enumeration value="id.ezd.puw" />
          <xs:enumeration value="id.ezd.eDOK" />
          <xs:enumeration value="ePUAP CID" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="kategoria-archiwalna-typ">
    <xs:annotation>
      <xs:documentation>Kategoria archiwalna zgodnie z wykazem akt.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="A" />
          <xs:enumeration value="B" />
          <xs:enumeration value="B3" />
          <xs:enumeration value="B5" />
          <xs:enumeration value="B10" />
          <xs:enumeration value="B15" />
          <xs:enumeration value="B20" />
          <xs:enumeration value="B40" />
          <xs:enumeration value="B50" />
          <xs:enumeration value="BE10" />
          <xs:enumeration value="BE15" />
          <xs:enumeration value="BE20" />
          <xs:enumeration value="BE40" />
          <xs:enumeration value="BE50" />
          <xs:enumeration value="BC" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="typrelacji-typ">
    <xs:annotation>
      <xs:documentation>Standardowe typy relacji powinny być ujęte w słownik zawierający co najmniej typy relacji określone w repozytorium interoparacyjności.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ma odniesienie" />
          <xs:enumeration value="odnosi się do" />
          <xs:enumeration value="jest dekretacją" />
          <xs:enumeration value="ma dekretację" />
          <xs:enumeration value="ma podpis" />
          <xs:enumeration value="jest podpisem" />
          <xs:enumeration value="ma wersję" />
          <xs:enumeration value="jest wersją" />
          <xs:enumeration value="ma część" />
          <xs:enumeration value="jest częścią" />
          <xs:enumeration value="ma format" />
          <xs:enumeration value="jest formatem" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="status-rodzaj-typ">
    <xs:annotation>
      <xs:documentation>Rodzaj statusu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="status-wersja-typ">
    <xs:annotation>
      <xs:documentation>Wersja statusu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="status-opis-typ">
    <xs:annotation>
      <xs:documentation>Opis statusu.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="klucz-nazwa-typ">
    <xs:annotation>
      <xs:documentation>Klucz hasła tematycznego.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ" />
  </xs:simpleType>
  <xs:simpleType name="tworca-funkcja-typ">
    <xs:annotation>
      <xs:documentation>Zgodnie z referencyjnym słownikiem  funkcji użytkowanych w podmiocie, słownik musi zawierać co najmniej następujące elementy: utworzył, modyfikował, zatwierdził, podpisał.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="podpisał" />
          <xs:enumeration value="utworzył" />
          <xs:enumeration value="modyfikował" />
          <xs:enumeration value="zatwierdził" />
          <xs:enumeration value="opublikował" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="kategoria-klasa-typ">
    <xs:annotation>
      <xs:documentation>Słownik zdefiniowany w repozytorium interoperacyjności oparty o listę kategorii DCMI: http://dublincore.org/documents/dcmi-type-vocabulary/ (tekst, dźwięk, obraz nieruchomy, obraz ruchomy, zbiór dokumentów, zbiór danych, obiekt fizyczny, oprogramowanie).</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="tekst" />
          <xs:enumeration value="dźwięk" />
          <xs:enumeration value="obraz" />
          <xs:enumeration value="obraz ruchomy" />
          <xs:enumeration value="wideo" />
          <xs:enumeration value="kolekcja" />
          <xs:enumeration value="zbiór danych" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="kategoria-rodzaj-typ">
    <xs:annotation>
      <xs:documentation>Dookreślenie typu dokumentu w ramach wskazanej klasy; Rekomendowane jest przygotowanie słownika rodzajów właściwego dla praktyki  kancelaryjnej podmiotu w odniesieniu do klasy tekst . Słownik taki będzie musiał zawierać co najmniej zestaw określeń wskazanych w repozytorium interoperacyjności.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ndap:niepusty-ciag-typ">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="decyzja" />
          <xs:enumeration value="prezentacja" />
          <xs:enumeration value="faktura" />
          <xs:enumeration value="ustawa" />
          <xs:enumeration value="notatka" />
          <xs:enumeration value="rozporządzenie" />
          <xs:enumeration value="pismo" />
          <xs:enumeration value="uchwała" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:group name="data-zdarzenia-grupa">
    <xs:annotation>
      <xs:documentation>Data zdarzenia.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="typDaty" type="ndap:data-zdarzenia-typ">
        <xs:annotation>
          <xs:documentation>Słownik zdarzeń zwiazanych z datą dokumentu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="czas" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data zdarzenia</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="daty-zakres-grupa">
    <xs:annotation>
      <xs:documentation>Zakres dat.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" name="zakresDat" type="ndap:data-zakres-typ">
        <xs:annotation>
          <xs:documentation>Słownik zakresów dat.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="czasOd" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data skrajna Od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="czasDo" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data skrajna Do</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="data-dokumentu-grupa">
    <xs:sequence>
      <xs:element maxOccurs="1" name="czas" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data dokumentu</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="przedzial-czasu-grupa">
    <xs:sequence>
      <xs:element maxOccurs="1" name="od" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data skrajna Od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="do" type="ndap:czas-typ">
        <xs:annotation>
          <xs:documentation>Data skrajna Do</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>